<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/4b6059de82.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<body>
    {% include "NavBar.html" %}
    <div class="container">
        <h1 id="Header">Data from Database</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="row align-items-center">
            <div class="col">
                <table id="DataTable" class="center table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Client Name</th>
                            <th>Assigned TO</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in tasks %}
                        <tr>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>
                                {% if row[2] == none %}
                                <a href="#selectTrainerModal{{row[0]}}" data-toggle="modal" class="btn btn-danger" style="color: #da1651; background-color: transparent; border: none;">
                                    Assign
                                </a>
                                {% else %}
                                <a href="#updateTrainerModal{{row[0]}}" data-toggle="modal" class="btn btn-danger" style="color: #da1651; background-color: transparent; border: none;">
                                    Transfer
                                </a>
                                {% endif %}
                            </td>
                        </tr>

                        <!-- Modal for selecting trainer -->
                        <div class="modal fade" id="selectTrainerModal{{row[0]}}" tabindex="-1" aria-labelledby="modalLabel{{ row[0] }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel{{ row[0] }}">Assign Trainer</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('assignClient') }}" method="POST">
                                            <div class="form-group">
                                                <label>Employee Name</label>
                                                <select class="form-select" name="EmpName">
                                                    {% for names in TrainerNames %}
                                                    <option value="{{ names[2] }}">{{ names[2] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <input type="hidden" name="ClientID" value="{{ row[0] }}">
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal End -->

                        <!-- Modal for updating trainer -->
                        <div class="modal fade" id="updateTrainerModal{{row[0]}}" tabindex="-1" aria-labelledby="modalLabel{{ row[0] }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel{{ row[0] }}">Transfer Trainer</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('transferClient') }}" method="POST">
                                            <div class="form-group">
                                                <label>Employee Name</label>
                                                <select class="form-select" name="EmpName">
                                                    {% for names in TrainerNames %}
                                                    <option value="{{ names[2] }}">{{ names[2] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <input type="hidden" name="ClientID" value="{{ row[0] }}">
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Transfer</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal End -->
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
